.logoStyle {
  height: 5rem;
}
.NavLinkStyle {
  font-weight: bold;
  color: black;
}
.NavLinkStyle:hover {
  color: salmon;
}

.ServiceList_Image_size {
  height: "14rem";
  padding: "1.3rem";
  box-shadow: 1px 1px 5px gray;
}
