.SignIn-Header img{
height: 100px;
margin-top: 50px;
}
.btn-style{
color: green;
width:100%;
border-radius:10px;
}
.SignIn-body{
    background-color: rgb(240, 230, 230);
    border:1px solid black;

}

